.bs-callout {
    background-color: #FCF2F2;
    border-left: 5px solid #DF7C7B;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}
.bs-callout-info {
    background-color: #e7f7fc;
    border-left: 5px solid #009fdf;
    margin: 20px 0;
    padding: 15px 30px 15px 15px;
}
.bs-callout-info h4 {
    margin-top: 0;
}
.bs-callout-info p:last-child {
    margin-bottom: 0;
}

.bs-callout-info code, .bs-callout .highlight {
    background-color: #FFFFFF;
}
.bs-callout h4 {
    margin-top: 0;
}
.bs-callout p:last-child {
    margin-bottom: 0;
}
.bs-callout code, .bs-callout .highlight {
    background-color: #FFFFFF;
}